@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  height: 100%;
  line-height: 1.5;
  background-color: thistle;
}

/* MENU BUTTON */

.menu-btn{
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-line{
  margin: 1em;
  width: 40px;
}

.btn-line::after,
.btn-line::before,
.btn-line div {
  background-color: white;
  content: "";
  display: block;
  border-radius: 3px;
  height: 5px;
  margin: 7px 0;
  transition: all 0.5s ease-out;
}

/* Rotation */
.close .btn-line div {
  transform: scale(0);
}

.close .btn-line::before {
  transform: translateY(12px) rotate(135deg);
}

.close .btn-line::after {
  transform: translateY(-12px) rotate(-135deg);
}

/* HEADING */
.large-heading{
  font-size: 6rem;
  margin-top: 20vh;
  padding: 0;
}

.small-heading {
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  height: 100%;
  color: yellow;
}

#home {
  overflow: hidden;
}

.icons{
  font-size: 1.5rem;
}

.icons a:hover{
  color: blueviolet;
  transition: all 0.5s ease-out;
}

/* BACKGROUND */

body{
  background: url(/Images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(88, 72, 175, 0.9);
}

/* MENU OVERLAY */

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

/* LEFT MENU */
/* Slide in from top */
.menu-nav{
  padding: 0;
  background: rgb(72, 48, 206, 0.9);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu .show{
  transform: translate3d(0, 0, 0);
}

/* RIGHT MENU */
/* Slide in from bottom */
.menu-branding {
  background: rgb(72, 48, 206, 0.9);
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}

.menu-branding .show{
  transform: translate3d(0, 0, 0);
}

.portrait {
  width: 250px;
  height: 250px;
  background: url("../Images/portrait.jpeg");
  background-size: cover;
  border-radius: 50%;
  border: solid 3px white;
}

/* NAV ITEMS */

.nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.nav-link:hover{
  color: yellow;
}

.current > a {
  color: yellow;
}
